<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Técnicos</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style-lazaro.css">
  
  </head>
    
    
  <body>
      
        <div id="MainContainer" class="mainContainer">
        <a href="https://portal.uneb.br/"><img id="logoUnebCantoEsquerdoSuperior" src="image/LogoUneb.png"></a>
             <div id="logoUnebCantoDireito"></div> 
            <div class="divTopo">
                <h1 class="tituloPrincipal">Tabela - Técnicos</h1>
            </div> 
      
      
     
          <div id="navbar" class="navbar">
   
    <ul>
        <li class="listOpc"><a href="GerenteMain.html">Voltar</a></li>
      <li class="listOpc"><a href="Login.html">Logout</a></li>
        </ul>
   </div>  
            
            
       <div id="boxAdAdmArea" class="boxAd">
     
        <h2 id="subtitulo">Técnicos</h2>
       <div id="table" class="table">
       <table>
      
       <tr>
        <th>Login</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Cadastrar</th>
        <th>Remover</th>
         
    </tr>

       <tr>
       <td>071728765</td>
       <td>Aurelicio Santos</td>
       <td>Administrador da Copa</td>
       <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
      
        
      </tr>

      <tr>
       <td>065432424</td>
       <td>Victor Pereira</td>
       <td>Técnico em Informática</td>
       <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
      
      </tr>
       
      <tr>
       <td>081942107</td>
       <td>Lázaro Queiroz</td>
       <td>Técnico em Informática</td>
      <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
   
     </tr>

    
       </table>
      
    
      </div>
      </div>
      
          
     
  </body>
     <footer class="footerSi">Desenvolvido pela equipe de estudo de software da Universidade do Estado da Bahia, Campus I, Salvador, BA.</footer>
    
    
    
    <script src="script.js"></script>
</html>