<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Gerentes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style-lazaro.css">
  
  </head>
    
    
  <body>
      
        <div id="MainContainer" class="mainContainer">
       
        <a href="https://portal.uneb.br/"><img id="logoUnebCantoEsquerdoSuperior" src="image/LogoUneb.png"></a>
            <div id="logoUnebCantoDireito"></div>                                                                                            
            <div class="divTopo">
                <h1 class="tituloPrincipal">Tabela - Gerentes</h1>
            </div> 
      
      
     
      <div id="navbar" class="navbar">
   
      <ul>
        <li class="listOpc"><a href="AdmGeralMain.html">Voltar</a></li>
      <li class="listOpc"><a href="Login.html">Logout</a></li>
        </ul>
   </div>  
            
       <div id="boxAdAdmArea" class="boxAd">
     
        <h2 id="subtitulo2">Gerentes</h2>
       <div id="table" class="table">
       <table>
      
       <tr>
        <th>Login</th>
        <th>Nome</th>
        <th>Setor</th>
          <th>Cadastrar</th>
        <th>Remover</th>
         
    </tr>

       <tr>
       <td>020986421</td>
       <td>Caio Bruno</td>
       <td>RH</td>
           <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
      
        
      </tr>

      <tr>
       <td>076329864</td>
       <td>Yan Santana</td>
       <td>TI</td>
       <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
      
      </tr>
       
      <tr>
       <td>052312098</td>
       <td>Mateus Souza</td>
       <td>Administração</td>
     <td><button class="btnCadastrar" class="btnCadastro">Cadastrar</button></td>
       <td><button class="btnCadastrar" class="btnCadastro">Remover</button></td>
   
     </tr>

    
       </table>
      
    
      </div>
      </div>
      
          
     
  </body>
     <footer class="footerSi">Desenvolvido pela equipe de estudo de software da Universidade do Estado da Bahia, Campus I, Salvador, BA.</footer>
    
    
    
    <script src="script.js"></script>
</html>